* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #1e1e2e;
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.kotak {
  width: 250px;
  height: 250px;
  flex: 1;
  background: #fab387;
}
